*
{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container
{
  max-width: 1170px;
  margin: auto;
  height: 1000px;

  /* background: #ff00ff;
  opacity: 1; */

}
/* Header */
.header
{
  background-color: aqua;
  height: 100vh;
  opacity: 0.9;
  position: relative;
}
.header-img
{
  position: absolute;
  width: 79px;
  height: 79px;
  left: 245px;
  top: 10px;

  background: url(./img/images-preview\ 2.png);
}
.header-list
{
  margin-top: 20px;
  display: flex;
  /* width: 700px; */
}
.header-text-1
{
  position: absolute;
  width: 41px;
  height: 18px;
  left: 590px;
  top: 41px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */


  color: #D23166;
}
.header-text-2
{
/* Product */


position: absolute;
width: 50px;
height: 16px;
left: 671px;
top: 42px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;

color: #150101;

opacity: 0.6;
}
.header-text-3
{
/* Pricing */


position: absolute;
width: 45px;
height: 16px;
left: 760px;
top: 42px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;

color: #150101;

opacity: 0.6;
}
.header-text-4
{
/* Testimonials */


position: absolute;
width: 82px;
height: 16px;
left: 844px;
top: 42px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;

color: #150101;

opacity: 0.6;
}
.header-text-5
{
/* Contact Us */


position: absolute;
width: 70px;
height: 16px;
left: 964px;
top: 42px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;

color: #150101;

opacity: 0.6;
}
.btn-item
{
  position: absolute;
  width: 165px;
  height: 49px;
  left: 1305px;
  top: 25px;
  color: #FAFAFA;
  background: #D23166;
  border-radius: 5px;
}
.hader-item .text
{
  position: absolute;
  width: 172px;
  height: 16px;
  left: 254px;
  top: 285px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #0F0101;
}
.hader-item .text-item
{
  position: absolute;
  width: 665px;
  height: 130px;
  left: 254px;
  top: 307px;

  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-size: 57.33px;
  line-height: 120.5%;
  /* or 69px */
  color: #0F0101;
  opacity: 0.9;
}
.hader-item .subtext-item
{
  position: absolute;
  width: 523px;
  height: 78px;
  left: 254px;
  top: 472px;

  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  /* or 150% */

  color: #0F0101;
  opacity: 0.6;
}
.btn
{
  position: absolute;
  width: 165px;
  height: 49px;
  left: 255px;
  top: 600px;
  color: #FAFAFA;
  background: #D23166;
  border-radius: 5px;
}
