*
{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.container
{
  width: 1170px;
  margin: auto;

}
.buto
{
  width: 165px;
  height: 49px;
  color: #FAFAFA;
  background: #D23166;
  border-radius: 5px;
  cursor: pointer;
}
.buto:hover
{
  color: #000000;
  background: #FFFFFF;
  border-radius: 5px;
  opacity: 0.5;
}
.buto:active
{
  color: #fff;
  background: #000;
  border-radius: 5px;
  opacity: 0.5;
}

/* Header */

.header
{
  background: #F2CEDA;
}
.header-main
{
  height: 110vh;
}
.header-img
{
  position: absolute;
  width: 79px;
  height: 79px;
  left: 245px;
  top: 10px;
  background: url(./img/images-preview\ 2.png);
}
.header-main ul
{
  display: flex;
  width: 500px;
  height: 40px;
  margin-left: 400px;
  padding-top:  40px;
}

.header-main ul li::after
{
  content: '';
  width: 0;
  height: 2px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 18px;

  background: #D64374;
  display: block;
  margin-left: auto;
  transition: 0.5s;


}
.header-main ul li::before
{
  content: '';
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 18px;

  width: 1px;
  height: 2px;
  display: block;
  margin-right: auto;
  transition: 0.5s;
}
.header-main ul li:active
{
  color: crimson;
}
.header-main ul li:hover::after
{
  width: 30%;
}
.header-main ul li:hover::before
{
  background: #000;
  width: 30%;
}
.btn-item
{
  position: absolute;
  width: 165px;
  height: 49px;
  left: 1305px;
  top: 25px;
  color: #FAFAFA;
  background: #D23166;
  border-radius: 5px;
}
.hader-item .text
{
  position: absolute;
  width: 172px;
  height: 16px;
  left: 254px;
  top: 285px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #0F0101;
}
.hader-item .text-item
{
  position: absolute;
  width: 665px;
  height: 130px;
  left: 254px;
  top: 307px;

  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  font-size: 57.33px;
  line-height: 120.5%;
  color: #0F0101;
  opacity: 0.9;
}
.text-item span
{
  color:#D23166;
}
.hader-item .subtext-item
{
  position: absolute;
  width: 523px;
  height: 78px;
  left: 254px;
  top: 472px;

  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #0F0101;
  opacity: 0.6;
}

.images
{
  position: absolute;
  width: 894.68px;
  height: 736px;
  left: 690px;
  top: 126px;
  background: url(./img/bg-image.png);
}
.btn
{
  position: absolute;
  width: 165px;
  height: 49px;
  left: 255px;
  top: 600px;
  color: #FAFAFA;
  background: #D23166;
  border-radius: 5px;
}

/* Section */
.section
{
  margin-bottom:100px;
}

.section-list
{
  display:flex;
  width: 1117px;
  height: 200px;
  left: 252px;
  top: 962px;
  background: #FFFFFF;
  margin-top: 100px;

}
.list-text
{
  display: block;
  width: 250px;
  height: 200px;
  background: #FFFFFF;
  border-radius: 7px;
  text-align: center;
  transition: 0.6s;
}
.list-text:hover
{

  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
}
.list-text img
{
  margin-top: 25px;

}
.section-list .list-text h2
{
  margin: 0;
  margin-top: 20px;
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #000000;
}
.section-list .list-text p
{
  margin-top: 12px;
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #000000;
  opacity: 0.6;
}
/* ? Main */
.main{
  position: relative;
  height: 550px;
  background-color: #F8EDF0;
  margin-bottom: 50px;

}
.main-list
{
  position: absolute;
  display: flex;
  width: 100%;
  height: 550px;
  left: 150px;

}
.main-list h2
{
  position: absolute;
  left: 100px;
  top: 100px;

  width: 349px;
  height: 98.27px;
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 600;
  font-size: 50.2px;
  color: #150101;
}
.main-list p
{
  position: absolute;
  left: 100px;
  top: 260px;

  width: 442px;
  height: 58.16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #150101;
  opacity: 0.6;
}

.main-box .main-item
{
  position: absolute;
  left: 700px;
  top:-80px;
  width: 650px;
  height: 656.8px;
  background: url("./img/section2-image.png");
}
.main-list .main-btn
{
  position: absolute;
   left: 100px;
  top: 380px;


  width: 165px;
  height: 49.13px;

}

/* Main-Row */

.main-row .row h2
{
  text-align: center;
  justify-content: center;
}

.row .row-list
{
  content: '';
  display: flex;
  width: 900px;
  height: 20px;
  margin-top: 50px;
  margin-bottom: 50px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  opacity: 0.8;
}
.row ul li::after
{
  content: '';
  width: 0;
  height: 2px;
  background: #D64374;
  display: block;
  margin-left: auto;
  transition: 0.5s;
}
.row ul li::before
{
  content: '';
  width: 1px;
  height: 2px;
  display: block;
  margin-right: auto;
  transition: 0.5s;
}
.row ul li:hover::after
{
  width: 30%;
}
.row ul li:hover::before
{
  background: #000;
  width: 30%;
}
.row-item-left
{
  display: flex;
}
.row-item-left .row-img
{
  width: 580px;
  height: 415px;
  background-image: url(./img/Rectangle74.png);
  opacity: 1;
}
.row-item-rigt
{
  width: 454px;
  padding: 20px;
  margin-top: 50px;
}
.row-item-rigt h2
{
  text-align: left;
  margin-left:-280px;
  margin-bottom: 25px;

}
.row-item-rigt p
{
  width: 430px;
  margin-bottom: 45px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
  opacity: 0.7;
}
.row-item-rigt h3
{

  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  color: #000000;
}
.row-item-rigt h3 span
{
  margin-left: 8px;
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-decoration-line: line-through;
  color: #000000;
  opacity: 0.7;
}
.row-item-rigt .row-btn
{
  margin-top: 25px;
}
/* **********  Section two******** */
.section-row
{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;

}
.section-row-left
{
  margin-top: 80px;
  width: 500px;
}
.section-row-left h2
{
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  text-align: right;
  color: #000000;
}
.section-row-left p
{
  width: 444px;
  height: 67px;
  margin-top: 15px;
  margin-right:0px;
  margin-bottom: 40px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #000000;
  opacity: 0.7;
}
.section-row-left h3
{
  margin-bottom: 10px;

  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  text-align: right;
  color: #000000;
}
.section-row-left h3 span
{

  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: right;
  text-decoration-line: line-through;
  color: #000000;
  opacity: 0.7;
}
.section-row-left button
{
margin-left: 335px;
}
.section-row .section-row-right
{
  width: 580px;
  height: 415px;
  background-image: url(./img/Rectangle78.png);
}
/* ******** Section three ****** */
.three-row
{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.three-row-left
{
  margin-left: 25px;
  width: 700px;
  height: 415px;
  background-image:
  url("./img/Rectangle79.png");
  background-size: cover;
}
.three-row-right
{
  width: 454px;
  margin-top: 50px;
  margin-left: 200px;
}
.three-row-right .h22
{
  width:100%;
  height: 36px;
  margin-top: 25px;

  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  text-align:left;
  color: #000000;
}
.three-row-right p
{
  margin-top: 30px;
  width: 454px;
  height: 67px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7
}
.three-row-right h3
{
  width: 71px;
  height: 27px;
  margin-left: 0;
  margin-top: 30px;
  margin-bottom: 30px;

  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 36px;
  color: #000000;
}
.three-row-right h3 span
{
  width: 58px;
  height: 27px;
  font-family: 'Hind Madurai';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align:left;
  color: #000000;
  opacity: 0.7;
}
.three-row-right button
{

}

/* *** **** Section four **** *** */

.four-row
{
  display: flex;
  width: 100%;
  height: 600px;
  margin-top: 50px;
  position: relative;

}
.four-row .four-row-left
{
  width: 600px;
  margin: 5px;
}
.four-row .four-row-left .row-list h2
{
  position: absolute;
  width: 178px;
  height: 28px;
  left: 120px;
  top: 140px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #000000;
}
.four-row .four-row-left .row-list h6
{
  position: absolute;
  width: 77px;
  height: 15px;
  left: 115px;
  top: 170px;


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;

  color: #000000;

  opacity: 0.7;
}
 .four-row .four-row-left .row-list .img
{
  position: absolute;
  width: 59px;
  height: 58px;
  left: 50px;
  top: 135px;
  background-image: url("./img/Ellipse21.png");
}

.four-row .four-row-left .row-list p
{
  position: absolute;
  width: 322px;
  height: 53px;
  left: 90px;
  top:300px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
}
.four-row .four-row-left .row-list .img1
{
  position: absolute;
  left: 70px;
  top: 305px;

  width: 15px;
  height: 15px;
  background-image: url("./img/Group1.png");
  background-repeat: no-repeat;
}
.four-row .four-row-left .row-list .img2
{
  position: absolute;
  left: 360px;
  top: 360px;
  width: 15px;
  height: 15px;
  background-image: url("./img/Group.png");
  background-repeat: no-repeat;
}
.four-row .four-row-left .row-item
{
  position: absolute;
  top: 120px;
  left: 25px;

  width: 400px;
  display: flex;

}
.four-row .four-row-left .row-item li:nth-child(1)
{
  width: 10px;
  height: 10px;
  background-image: url("./img/Vector1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.four-row .four-row-left .row-item
{
margin-top: 300px;
}
.four-row .four-row-left .row-item li:nth-child(2)
{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("./img/yigi1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.four-row .four-row-left .row-item li:nth-child(3)
{
  width: 47.81px;
  height: 47.81px;
  background-image: url("./img/Ellipse211.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 1px solid red;

}
.four-row .four-row-left .row-item li:nth-child(4)
{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url("./img/qizi2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.four-row .four-row-left .row-item li:nth-child(5)
{
  width: 10px;
  height: 10px;
  background-image: url("./img/Vector.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



.four-row .four-row-right
{
  margin: 5px;
  width: 90%;
  background-image: url("./img/uLkF7xc5W6-removebg-preview 1 (1).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/*  ***** *** Section five ***** *** */
.section-five
{
  width: 100%;
  background: #F8EDF0;
}
.five-row
{
  margin-top: 60px;
  width: 1600px;
  height: 678px;
  display: flex;
}
.five-row .five-row-left
{
  margin-top: 100px;
  margin-left: 70px;

}
.five-row .five-row-right
{
  width: 70%;
}
.five-row .five-row-right h2
{
width: 580px;
height: 104px;
margin-top: 100px;
margin-left: 40px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 44.2px;
line-height: 52px;
color: #000000;
}
.five-row .five-row-right p
{
width: 607px;
height: 60px;
margin-top: 30px;
margin-left: 40px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
letter-spacing: 0.01em;

color: #0F0101;

opacity: 0.7;
}
.five-row .five-row-right h3
{
width: 300px;
height: 26px;
margin-bottom: 20px;
margin-top: 25px;
margin-left: 70px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 26px;
color: #000000;
}
.five-row .five-row-right h3 span
{

  width: 30px;
  height: 30px;

  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



.five-row-right ul
{
  width: 400px;
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
  padding: 10px;
}
.five-row-right ul .logo
{
  width: 200px;
  height: 77px;
  background-image: url("./img/en_badge_web_generic-removebg-preview\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
.five-row-right ul .logo1
{
  width: 200px;
  height: 77px;
  margin-left: 10px;
  background-image: url("./img/logo-app-store-brand-font-png-favpng-Gb5FcTZcrb9bRikX49s26mMVn-removebg-preview 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* **** *** Section six *** **** */

.six-row
{
  margin-top: 100px;
  margin-bottom: 50px;
  width: 637px;
  height: 344px;
}
.six-row h2
{
  width: 522px;
  height: 123px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  color: #000000;
}
.six-row .six-row-list .row-list-top
{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.six-row .six-row-list .row-list-top input
{
  width: 303px;
  height: 74px;
  padding-left: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #0F0000;
  opacity: 0.6;
  background: #FFFFFF;
  border: 1px solid #FFA3A3;
  border-radius: 5px;
}.six-row .six-row-list .row-list-bottom
{
  margin-top: 22px;
  position: relative;
}
.six-row .six-row-list .row-list-bottom input
{
  width: 637px;
  height: 74px;
  padding-left: 20px;
  background: #FFFFFF;
  border: 1px solid #FFA3A3;
  border-radius: 5px;
}
.six-row .six-row-list .row-list-bottom .row-list-btn
{
  position: absolute;
  top:0 ;
  left: 503px;

  width:134px;
  height: 73px;
}


/*  **** *** FOOTER *** **** */

footer
{
  width: 100%;
  padding: 60px;
  background: #0A0808;
}
.footer-row
{
  width: 100%;
  display: flex;
  justify-content: center;
}
/* ****** **** 1 ******* **** */
.footer-row .one-column
{
  width: 25%;
}
.footer-row .one-column img
{
  margin-top: 50px;
}
.footer-row .one-column p
{
  width: 207px;
  height: 47px;
  margin-left: 0;
  margin-top: 10px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.01em;

  color: #FFFFFF;

  opacity: 0.7;
}
.footer-row .one-column h4
{
  width: 46px;
  height: 14px;
  margin-left: 0;
  margin-top: 30px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: #FFFFFF;
}
.footer-row .one-column .one-column-list
{
  display: flex;
  width: 100px;
  margin-left: 0;
  margin-top: 10px;
}
.footer-row .one-column .one-column-list li img
{
  width: 15px;
  height: 15px;
  margin-top: 0;
}
/* ******* 2  ******* */
.footer-row .two-column
{
  width: 25%;
  height: 381px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  opacity: 0.7;
}
.footer-row .two-column .two-column-list
{
  padding: 20px;
  margin-top: 100px;
}
.footer-row .two-column .two-column-list li
{
  padding: 7px;
}


/* ***** *** 3 ***** **** */
.footer-row .three-column
{
  width: 25%;
  height: 381px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
  opacity: 0.8;
}
.footer-row .three-column .three-column-list
{
  padding: 20px;
  margin-top: 110px;
}
.footer-row .three-column .three-column-list li
{
  padding: 7px;
}

/* **** **** 4 **** *** */

.footer-row .four-column
{
  height: 381px;
}
.footer-row .four-column h2
{
  width: 78px;
  height: 19px;
  margin-top: 102px;
  margin-bottom: 20px;
  margin-left: 0;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  /* border: 1px solid white; */

}
.footer-row .four-column form
{
  position: relative;
  width: 388px;
}
.footer-row .four-column form input
{
  width: 388px;
  height: 55px;
  padding-left: 20px;
  background: #0A0808;
  opacity: 0.5;
  border: 2px solid #D64374;
  border-radius: 5px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  opacity: 1;
}
.footer-row .four-column form .four-column-btn
{
  position: absolute;
  width: 125px;
  height: 55px;
  left: 265px;
  opacity: 1;
  border-radius: 5px;
  border: none;
}
.footer-row .four-column form .four-column-btn:active
{
  background-color: #807a7a;
  color: white;
}

.footer-row .four-column .four-column-list
{
  margin-top: 20px;
  margin-left: 0;
  display: flex;
  width: 150px;
}